@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(135deg, #ffcc33, #ff6699, #6699ff, #33cc99);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  background: #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.login-container a {
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  border-radius: 30px;
  background-color: #ff6699;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
.login-container a:hover {
  background-color: #ff3366;
}
@media (max-width: 600px) {
  .login-container {
      padding: 20px 30px;
  }

  .login-container h2 {
      font-size: 1.5em;
  }

  .login-container input[type="text"],
  .login-container input[type="password"] {
      padding: 10px;
  }

  .login-container a {
      padding: 10px;
      font-size: 16px;
  }
}